<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <title>Document</title>
  </head>
  <body>
    <%include partials/header%>
    <main>
      <section class="details-sec">
        <h2><%=podcast.title%></h2>
        <h3><span>By:</span> <%=podcast.artist%></h3>
        <h4>August 8 2021</h4>
        <img src="/podcasts/<%=podcast.imageFile%>" alt="" />
        <audio class="audio" controls>
          <source src="/podcasts/<%=podcast.audioFile%>" />
        </audio>
        <a href="">Edit</a>
        <a href="">Delete</a>
      </section>
    </main>
  </body>
</html>